.card-product {
	width: 356px;
	border-radius: 12px;
	padding: 18px;
	cursor: pointer;
}

.card-product-img {
 height: 226px;
 border-radius: 12px;
 object-fit: cover;
}

.card-product-body-price {
 gap:17px;
}