:root {
  --clr-gray: rgba(237, 237, 237, 0.8);
  --clr-shadow: rgba(200, 200, 200, 0.5);
}

.product-container {
  box-shadow: 0px 0px 10px 5px var(--clr-shadow);
  transition: transform 0.3s;
  cursor: pointer;
}

.product-image {
  height: 200px;
  object-fit: contain;
  background-color: var(--clr-gray);
}

.product-container:hover {
  transform: scale(1.1);
}
