:root {
    --clr-gray: #667085;
    --clr-purple: #6941c6;
}

.container-card-news {
    width: 384px;
    height: 444px;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.img-card-news {
    height: 240px;
}

.container-body-news {
    gap: 8px;
    padding-top: 20px;
}

.date-card-news {
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-purple);
    gap: 4px;
}

.title-card-news {
    font-size: 24px;
    font-weight: 700;
}

.description-card-news {
    color: var(--clr-gray);
}