:root {
  --clr-green: #2d9279;
}

* {
  margin: 0px;
}
.card-container-large {
  width: 240px;
}
.card-img-large {
  height: 400px;
  object-fit: cover;
}

.card-info-large {
  gap: 10px;
  padding: 25px 0 25px 0;
}

.card-description-large {
  font-size: 14px;
}

.card-price {
  color: var(--clr-green) ;
}
